#loginBtn{
    padding:10px;
    background-color: #1D2A35;
    color: aliceblue;
    border-radius: 10%;
}

#logoutBtn{
    padding:10px;
    background-color: #1D2A35;
    color: aliceblue;
    border-radius: 10%;
}

